<h1>Listing projections</h1>
<% @projections.each do |pos, projections| %>
<div>
<h2><%= pos %></h2>
	<% highest = projections.first.FPTS %>
	<% projections.each do |p| %>
		<% if highest - p.FPTS > 70 %>
			<br />
			<% highest = p.FPTS %>
		<% end %>
		<%= p.FPTS %>
	<% end %>
</div>
<% end %>

<br />